.ck.ck-reset.ck-editor {
    @apply mt-1;
}

.ck.ck-toolbar {
    border-radius: 6px 6px 0 0 !important;
    border: 1px solid var(--color-silver-chalice) !important;
    border-bottom: unset !important;
}

.ck.ck-content.ck-editor__editable.ck-rounded-corners.ck-editor__editable_inline {
  border-radius: 0 0 6px 6px ;
  border: 1px solid var(--color-silver-chalice);
}

.ck.ck-content.ck-editor__editable.ck-rounded-corners.ck-editor__editable_inline.ck-focused {
    box-shadow: unset;
    border: 2px solid var(--color-cod-gray);
    border-color: var(--color-cod-gray);
}

.ck-content.ck-editor__editable,
.ck-source-editing-area,
.ck-source-editing-area textarea {
    min-height: 250px;
    max-height: 250px;
}

.ck-source-editing-area textarea {
    overflow-y: scroll !important;
}
