.ck.ck-reset.ck-editor {
    border-width: 0.5px;
    border: solid 0.5px;
    @apply rounded-md;
    @apply border-gray-900;
}

.ck.ck-toolbar {
    border-radius: 6px 6px 0 0 !important;
    border-bottom: solid 1px !important;
}

.ck-blurred.ck.ck-content.ck-editor__editable.ck-rounded-corners.ck-editor__editable_inline {
    border: none;
    border-radius: 6px !important;
}
