.layout {
    flex-wrap: wrap;
}

.layout .v-navigation-drawer__scrim {
    position: fixed;
}

.layout .admin__bar,
.layout .admin__bar .admin__bar-wrapper,
.layout header.header,
.layout header.header .header-wrapper,
.layout main,
.layout main .main-wrapper,
.layout footer,
.layout footer .footer-wrapper {
    width: 100%;
}

.layout .admin__bar .admin__bar-wrapper,
.layout header .header-wrapper,
.layout main .main-wrapper,
.layout footer .footer-wrapper {
    max-width: var(--layout-max-with);
    padding-left: var(--layout-base-padding);
    padding-right: var(--layout-base-padding);
    margin: 0 auto;
}

.layout main {
    min-height: 100vh;
    padding-top: 0;
		margin-bottom: 20px;
}
