.layout {
    flex-wrap: wrap;
    color: var(--color-cod-gray);
}

.layout .v-navigation-drawer__scrim {
  position: fixed;
}

.layout .admin__bar,
.layout .admin__bar .admin__bar-wrapper,
.layout header.header .v-toolbar__content,
.layout header.header .toolbar,
.layout header.header .toolbar-wrapper,
.layout main ,
.layout main .main-wrapper,
.layout footer,
.layout footer .footer-wrapper {
    width: 100%;
}

.layout .admin__bar .admin__bar-wrapper,
.layout header.header .v-toolbar__content,
.layout main .main-wrapper,
.layout footer .footer-wrapper {
  max-width: var(--layout-max-with);
  padding-left: var(--layout-base-padding);
  padding-right: var(--layout-base-padding);
  margin: 0 auto;
}

.layout main {
  min-height: 150vh;
  margin-top: 10px;
}