header.header {
    position: fixed;
    top: 0;
		transition: top 0.3s; 
}

header.header .header-wrapper .header-content {
    display: flex;
    @apply p-2 rounded-lg;
    @apply bg-primary-light dark:bg-primary-dark;
    @apply text-primary-dark dark:text-primary-light;
}

header.header .prepend,
header.header .append {
    margin: 0;
}

header.header .toolbar {
    margin: 0 auto;
}

header.header .toolbar,
header.header .toolbar-wrapper {
    height: 100%;
    width: 100%;
}
header.header .toolbar-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

header.header .toolbar .home-link {
    display: inline-flex;
    align-items: center;
}

header.header .toolbar .home-link a {
    width: 100%;
}

@media (min-width: 1024px) {
    header.header .toolbar .toolbar-wrapper .toolbar-links {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        margin-left: 1rem;
    }
}
