:root {
  --layout-max-with: 1400px;
  --layout-base-padding: 1rem;
  --admin-bar-height: 40px;
  --header-height: 74px;
}

body {
	@apply bg-gray-300 dark:bg-gray-700;
	@apply text-gray-950 dark:text-gray-100;
  font-size: 1rem;
}